body {
	background-color: white;
	min-width: 900px;
	margin: 0;
	padding: 0;
}

#wrapper {
	height: 99%;
	background-color: #eee;
}

#head {
	height: 10%;
	background-color: #eee;
}

#stat {
	height: 25%;
	background-color: #c8c5c5;
	border-bottom: 1px solid #666666;
}

#isi_stat {
	width: 48%;
	height: 100%;
	margin-left: 21%;
	text-align: right;
}

#header {
	height: 80%;
	width: 50%;
	margin-left: 20%;
	position: relative;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #fff;
}

#logo {
	float:left;
	width: 25%;
	margin-left: 5px;
	margin-top: 1px;
}

#menu {
	float: right;
	width: 70%;
	text-align: right;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 1%;
	border-radius: 3px;
}

#content {
	height: 85%;
	margin-top: 0.3%;
	width: 48%;
	margin-left: 21%;
	background-color: white;
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
}

#footer {
	height: 5%;
	text-align: center;
	background-color: #666666;
	color: white;
}